{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<!-- Big map start -->

<div id='ig-Main-map_970-main_map_desktop1' class='' data-o-grid-colspan="hide L11 Lcenter XL10">
		<style type='text/css' media='screen,print'>
			#ig-Main-map_970-main_map_desktop1{
				position:relative;
				overflow:hidden;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-Main-map_970-main_map_desktop1 p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:13px;
				font-weight:400;
				color:#42413c;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:12px;
				line-height:11px;
				font-style:italic;
				text-align:center;
				color:#3b729e;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:12px;
				line-height:11px;
				font-style:italic;
				text-align:right;
				color:#3b729e;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:16px;
				line-height:24px;
				font-weight:400;
				text-align:center;
				letter-spacing:0.20833333333333em;
				color:#42413c;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle4 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:12px;
				line-height:12px;
				font-style:italic;
				text-align:center;
				letter-spacing:0.08333333333333em;
				color:#83a6d0;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle5 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:13px;
				font-weight:400;
				text-align:right;
				color:#42413c;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle6 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:21px;
				line-height:21px;
				font-weight:500;
				color:#42413c;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle7 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:14px;
				font-style:italic;
				color:#3b729e;
			}
			#ig-Main-map_970-main_map_desktop1 .ig-ai-pstyle8 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:12px;
				line-height:13px;
				font-weight:400;
				color:#42413c;
			}
		</style>
		<div id='ig-Main-map_970-main_map_desktop1-graphic'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/Main-map_970-main_map_desktop1.png'
				/>
			<div id='ig-ai0-1' class='ig-Labels ig-ai-abs' style='top:16.3478%;left:54.9779%;'>
				<p class='ig-ai-pstyle0'>Piraeus</p>
				<p class='ig-ai-pstyle0'>(Greece)</p>
			</div>
			<div id='ig-ai0-2' class='ig-Labels ig-ai-abs' style='top:23.8261%;left:63.4996%;width:7.8061%;margin-left:-3.9030%;'>
				<p class='ig-ai-pstyle1'>Strait of</p>
				<p class='ig-ai-pstyle1'>Hormuz</p>
			</div>
			<div id='ig-ai0-3' class='ig-Labels ig-ai-abs' style='top:24.3478%;right:54.0692%;'>
				<p class='ig-ai-pstyle2'>Strait of Gibraltar</p>
			</div>
			<div id='ig-ai0-4' class='ig-key ig-ai-abs' style='top:24.0000%;left:76.6223%;width:12.8163%;margin-left:-6.4082%;'>
				<p class='ig-ai-pstyle3'>CHINA</p>
			</div>
			<div id='ig-ai0-5' class='ig-Labels ig-ai-abs' style='top:32.0000%;right:39.7060%;'>
				<p class='ig-ai-pstyle2'>Suez Canal</p>
			</div>
			<div id='ig-ai0-6' class='ig-Labels ig-ai-abs' style='top:32.8696%;left:38.1769%;width:12.3067%;margin-left:-6.1534%;'>
				<p class='ig-ai-pstyle4'>ATLANTIC</p>
				<p class='ig-ai-pstyle4'>OCEAN</p>
			</div>
			<div id='ig-ai0-7' class='ig-Labels ig-ai-abs' style='top:33.0435%;left:78.3671%;'>
				<p class='ig-ai-pstyle0'>Maday Island (Myanmar)</p>
			</div>
			<div id='ig-ai0-8' class='ig-Labels ig-ai-abs' style='top:33.2174%;left:66.2967%;'>
				<p class='ig-ai-pstyle0'>Gwadar</p>
				<p class='ig-ai-pstyle0'>(Pakistan)</p>
			</div>
			<div id='ig-ai0-9' class='ig-Labels ig-ai-abs' style='top:37.0435%;right:40.5987%;'>
				<p class='ig-ai-pstyle2'>Bab al-Mandab Strait</p>
			</div>
			<div id='ig-ai0-10' class='ig-Labels ig-ai-abs' style='top:40.3478%;right:37.7466%;'>
				<p class='ig-ai-pstyle5'>Djibouti</p>
			</div>
			<div id='ig-ai0-11' class='ig-Labels ig-ai-abs' style='top:40.5217%;left:9.5459%;width:9.3549%;margin-left:-4.6774%;'>
				<p class='ig-ai-pstyle4'>PACIFIC</p>
				<p class='ig-ai-pstyle4'>OCEAN</p>
			</div>
			<div id='ig-ai0-12' class='ig-Labels ig-ai-abs' style='top:42.2609%;left:96.6645%;width:9.3549%;margin-left:-4.6774%;'>
				<p class='ig-ai-pstyle4'>PACIFIC</p>
				<p class='ig-ai-pstyle4'>OCEAN</p>
			</div>
			<div id='ig-ai0-13' class='ig-Labels ig-ai-abs' style='top:42.4348%;right:28.7723%;'>
				<p class='ig-ai-pstyle5'>Hambantota</p>
				<p class='ig-ai-pstyle5'>(Sri Lanka)</p>
			</div>
			<div id='ig-ai0-14' class='ig-Labels ig-ai-abs' style='top:43.3043%;right:72.9974%;'>
				<p class='ig-ai-pstyle2'>Panama Canal</p>
			</div>
			<div id='ig-ai0-15' class='ig-Labels ig-ai-abs' style='top:45.2174%;right:47.9582%;'>
				<p class='ig-ai-pstyle5'>Sao Tome</p>
				<p class='ig-ai-pstyle5'>and Principe</p>
			</div>
			<div id='ig-ai0-16' class='ig-Labels ig-ai-abs' style='top:49.5652%;right:24.3192%;'>
				<p class='ig-ai-pstyle2'>Strait of Malacca</p>
			</div>
			<div id='ig-ai0-17' class='ig-Labels ig-ai-abs' style='top:52.0000%;left:85.8509%;'>
				<p class='ig-ai-pstyle0'>Darwin</p>
				<p class='ig-ai-pstyle0'>(Australia)</p>
			</div>
			<div id='ig-ai0-18' class='ig-Labels ig-ai-abs' style='top:52.8696%;right:22.3018%;'>
				<p class='ig-ai-pstyle2'>Strait of Sunda</p>
			</div>
			<div id='ig-ai0-19' class='ig-Labels ig-ai-abs' style='top:55.8261%;right:46.8679%;'>
				<p class='ig-ai-pstyle5'>Walvis Bay</p>
				<p class='ig-ai-pstyle5'>(Nambia)</p>
			</div>
			<div id='ig-ai0-20' class='ig-Labels ig-ai-abs' style='top:57.7391%;left:70.9724%;width:8.6596%;margin-left:-4.3298%;'>
				<p class='ig-ai-pstyle4'>INDIAN</p>
				<p class='ig-ai-pstyle4'>OCEAN</p>
			</div>
			<div id='ig-ai0-21' class='ig-key ig-ai-abs' style='top:75.8261%;left:4.4330%;'>
				<p class='ig-ai-pstyle6'>Chinese ownership or</p>
				<p class='ig-ai-pstyle6'>investment in foreign</p>
				<p class='ig-ai-pstyle6'>ports since 1994</p>
			</div>
			<div id='ig-ai0-22' class='ig-key ig-ai-abs' style='top:76.5217%;left:51.9140%;'>
				<p class='ig-ai-pstyle0'>Major shipping route</p>
			</div>
			<div id='ig-ai0-23' class='ig-key ig-ai-abs' style='top:79.4783%;left:51.9140%;'>
				<p class='ig-ai-pstyle0'>Other shipping routes</p>
			</div>
			<div id='ig-ai0-24' class='ig-key ig-ai-abs' style='top:82.2609%;left:51.9140%;'>
				<p class='ig-ai-pstyle7'>Maritime choke point</p>
			</div>
			<div id='ig-ai0-25' class='ig-key ig-ai-abs' style='top:89.0435%;left:5.7713%;'>
				<p class='ig-ai-pstyle0'>Mainland Chinese</p>
			</div>
			<div id='ig-ai0-26' class='ig-key ig-ai-abs' style='top:89.0435%;left:19.4763%;'>
				<p class='ig-ai-pstyle0'>Hong Kong (Hutchison)</p>
			</div>
			<div id='ig-ai0-27' class='ig-key ig-ai-abs' style='top:94.2609%;left:4.4330%;'>
				<p class='ig-ai-pstyle8'>Includes both investments announced and completed.   Ports in China and Hong Kong are not shown</p>
				<p class='ig-ai-pstyle8'>Sources: King&rsquo;s College, London; FT research; CIA (shipping routes)</p>
			</div>
		</div>
	</div>


<!-- Big map end -->

When a Chinese submarine and warship docked at a Sri Lankan port in late 2014, a surge of alarm pulsed through India. The unannounced visit of a rival’s navy to an island that New Delhi regards as its “strategic backyard” was worrying enough. But what really raised anxieties was that in spite of Indian protests the same submarine returned a month later, again unannounced.
 
“It was clearly a signal. They showed up to wave their Chinese flag and tell everybody – including India – that we are in India’s backyard,” said Brahma Chellaney, professor of Strategic Studies at New Delhi’s Centre for Policy Research. “It was a powerful message that now we are encircling you, even from the south.”
 
But the episode had another disquieting detail. The Chinese vessels had not berthed at Sri Lankan docks mandated for military visits but at a Chinese-owned terminal that usually handles only commercial shipping. “That was clear testimony as to how an economic project acquires a military dimension for China,” Mr Chellaney said. “The progression is quite rapid – from being an economic and commercial project to being a strategic military project.”
 
Such “dual use” tactics – the use of commercial ports for military purposes – are becoming a key part of China’s playbook as it projects power from its nearby seas to distant oceans. From Pakistan to Greece to outposts in the Indian Ocean andPersian Gulf, Chinese investment into civilian port infrastructure is being followed by naval visits and announcements of military contingencies.
 
How far Beijing intends to conscript these and other assets to serve strategic ends is set to define the balance of global maritime power. This is because - when it comes to merchant shipping - China already has a strong claim to “rule the waves”, an FT investigation has found.

** PORT TRAFFIC **

China sees maritime influence as encompassing far more than naval might, in the same way as did Alfred Thayer Mahan, the great American strategist. “Control of the sea,” Mr Mahan wrote in 1890, “by maritime commerce and naval supremacy, means predominant influence in the world; because, however great the wealth of the land, nothing facilitates the necessary exchanges as does the sea.”
 
In the six years since 2010, the expansion of China’s maritime footprint has been dramatic, an FT investigation has found. Investments into a vast network of harbours have meant that Chinese port operators now dominate the global industry. Its shipping companies carry more container cargo than those of any other nation. Its shipbuilders are also ascendant and its fishing fleet is the world’s largest.
 
All these areas contribute to a swelling maritime influence, but the most strategic is ports. Since 2010, companies based in mainland China and Hong Kong have bought outright or invested in an estimated 56 ports through completed or announced deals valued at a total of $60bn (check), according to a new study.

** INVESTMENTS OVER TIME (DOT PLOT) **

The investments brought the number of ports in which Chinese companies have stakes to an estimated XXX, according to the study, which was conducted by Sam Beatson and Jim Coke at King’s College in co-operation with the Financial Times.
 
Most of the ports are large container-handling hubs that lie along busy trade routes, but a significant minority handle more meagre volumes or are due to be built by China from scratch. These ports – which include Gwadar in Pakistan, Hambantota in Sri Lanka, Darwin in Australia, a new port on the Atlantic ocean islands of Sao Tome and Principe, Walvis Bay in Namibia and Maday island in Myanmar – appear to fulfil mainly strategic purposes, analysts said.
 
Concerted investments into the top 50 container hubs (see map) has meant that almost two thirds of these ports are now Chinese-invested, up from one fifth in 2010 and one tenth in 2000. Some 67 per cent of container volumes handled by the top 50 ports in 2015 passed through hubs with some degree of Chinese ownership, up from 41 per cent in 2010 and 19 per cent in 2000, according to Lloyd’s List Intelligence.

** TOP 50 CONTAINER HUBS **
 
If a more forensic statistical sample is adopted – one that measures only container shipping volumes directly handled by Chinese port operators – the level of dominance is reduced but still emphatic. Of the top 10 port operators worldwide, Chinese companies handled 39 per cent of all volumes, almost double the second largest nation group, according to the London-based Drewry Shipping Consultants.
 
** TOP 10 TERMINAL OPERATORS **

The Chinese shipping lines that use those ports are also in the ascendancy. The five Chinese carriers that rank in the world’s top 20 – namely Cosco, CSCL, OOCL, SITC and Sinotrans – controlled a combined 18 per cent of container shipping in 2015, according to Drewry’s statistics. That was significantly higher than the next country,Denmark, the home nation of Maersk, which alone carried 14 per cent of global container traffic in 2015, Drewry’s statistics show.

** TOP 20 CARRIERS **
 
Michael McDevitt, a retired real admiral in the US navy and now a senior fellow at CNA Strategic Studies, a think tank, has calledChina’s merchant marine “an important adjunct” to the People’s Liberation Army Navy (PLAN). He wrote in a recent paper  that merchant ships are becoming more integrated into routine PLAN operations, helping to compensate for shortcomings in the navy’s capacity to operate at great distances from its shores.
 
In addition, wrote Mr McDevitt, China’s fishing fleet – by far the largest in the world with some 700,000 motorised vessels – is also viewed in strategic terms and has a key role in safeguarding the nation’s food supplies.
 
Such commercial capacities are matched by a burgeoning navy presence. By 2020 China is set to have the second largest modern navy in the world after the United States, Mr McDevitt estimates, and will be able to deploy between 5,000 and 6,000 marines for operations anywhere in the world. 

** NAVY STUFF TO COME **
 
Such statistics reveal China’s growth as a commercial maritime power, but they say little about a recently shifting set of strategic objectives that underpin that rise.
 
Not only has Xi Jinping, China’s president, made the creation of a “21st Century Maritime Silk Road” a cornerstone policy for his administration, aiming to boost sea trade and investment with Southeast Asia, south Asia, the Middle East and eastern Africa. Beijing has also ordered a pivot in its military priorities.
 
For thousands of years, Chinese emperors were focused on defending the “middle kingdom” against land-based incursions usually from frontiers to the north and west. But in 2015 an official “white paper” on military strategy decreed a modernisation in outlook.
 
“The traditional mentality that land outweighs sea must be abandoned, and great importance has to be attached to managing the seas and oceans and protecting maritime rights and interests,” the white paper said. It added that the People’s Liberation Army Navy (PLAN) should protect “the security of sea lanes of communication and overseas interests”.
 
A semi-official journal under the auspices of the powerful Chinese Academy of Sciences went further, clearly calling for the use of commercial means to achieve military goals boosting maritime power.
 
“(China should) make full use of diplomatic and economic methods to establish at strategic maritime locations points for resupply and military bases so as to protect strategic maritime passages and to provide prompt and powerful logistical and military support,” read a 2015 paper in the World Regional Studies journal by academics identified as Du Debin, Ma Liya, Fan Bei and Hui Caixing.
 
So far, Beijing appears to be following the academics’ suggestion. Starting in “chokepoints” where the US navy holds sway over sea lanes crucial to China’s economy, Beijing has begun creating “dual use” contingencies after first investing on what was said to be a purely commercial basis.
 
In some cases, such as the Gwadar Port in Pakistan, the military dimension of a project is steadfastly denied before being suddenly acknowledged. Speaking in early November, Ahsan Iqbal, Pakistan’s minister for planning, development and reform, told the Financial Times: “No, there will be no use for Gwadar by the Chinese for military purposes now or in the future (check).”
 
By late November, an unnamed Pakistan naval official was quoted by a local newspaper as saying that China will deploy naval ships at Gwadar in co-ordination with the Pakistan navy to safeguard the port and regional trade routes. The report, which has been widely quoted, is yet to be denied by Islamabad or Beijing (maybe ask Farhan to put in a call?).
 
Gwadar, a Chinese-built port close to shipping lanes through which some 80 per cent of China’s oil is imported, was handed over to the control of a state-owned Chinese company, the China Overseas Port Holding Company, in 2015. At the time of the handover, China’s foreign ministry spokesman, Hong Lei, described the move as a “business practice” aimed at boosting “friendly co-operation between the two countries”. 
 
Such ambiguity can be attempted partly because of what Abhijit Singh, senior fellow at the Observer Research Foundation in New Delhi, says is an “inherent duality” that Chinese engineering companies build into the ports that they construct.
 
“These facilities are ostensibly commercial but quickly up-gradable to carry out essential military missions,” said Mr Singh, who is also a former commander in the Indian navy. “The utility of such dual centres is that they do not create political disquiet in the host country and region. They are great for the soft projection of hard power.”
 
To the west of Gwadar at Djibouti, on the Straits of Hormuz, Beijing acknowledged in 2016 that it will construct its first overseas military base, ensuring China’s military presence in the Persian Gulf region until at least 2026 with a contingent of upto 10,000 personnel.  
 
The manoeuvring to establish the Djibouti base followed a commercial courtship of the type suggested by the World Regional Studies academics. In 2012 the state-owned China Merchants Group’s took a stake in the Port of Djibouti’s container terminal, paving the way for a flurry of other deals worth a total of $9bn to construct a liquefied natural gas terminal, a wharf for livestock carriers and a trade logistics park.
 
Even in recent months, China’s state media was playing down the significance of the base, with the People’s Liberation Army daily in October last year (2016) accusing the western media of hyping the facilities in Djibouti by calling them a “military base” when in fact they were nothing more than a “logistics centre”.
 
By leading with its commercial allure, China can create a traction that steamrollers political resistance. Sri Lanka’s president Maithripala Sirisena took power in 2015 after fighting an election in which he made thinly-veiled warnings over China’s growing influence. “The land that the white man took over by means of military strength is now being obtained by foreigners by paying ransoms to a handful of persons,” Mr Sirisena’s election manifesto said.
 
One of his first actions as president was to suspend the $1.4bn Colombo “port city” being built by Chinese companies. But Beijing piled on the financial and diplomatic pressure, forcing Mr Sirisena to capitulate in late 2016 after an 18 month hiatus.
 
His main problem was that Colombo owes some $10bn to China, a debt burden that can only be managed with Beijing’s acquiescence. In one effort to pay down the debt, a Chinese company is set to buy 80 per cent of the newly-built Hambantota port for $1bn, giving China a potential “dual use” hub deep in the Indian Ocean.
 
“Chinese projects in Sri Lanka created national indebtedness,” Mr Chellaney said. “For Sri Lanka to get out of their debt trap, it is essentially being forced to sell its stakes in (Hambantota), and China acquires controlling right.”
 
Beijing’s other activities in the Indian Ocean in places such as the Maldives and Seychelles islands show the centrality of this arena to China’s strategic ambitions. On a rare visit by a head of state to the Maldives, President Xi officially inducted the tiny string of atolls with a population of just 350,000 people into the “21st century maritime silk road” project. A couple of infrastructure projects were agreed to bolster the island’s pre-existing defence agreements with China.
 
In Greece too, China’s acquisition of a controlling stake in Piraeus, one of Europe’s largest ports, signalled an intermingling of its commercial and strategic agendas. As Alexis Tsipras, the Greek prime minister, hosted a Chinese warship and naval top brass Piraeus in early 2015, the Chinese state media quoted him as saying he supported its sale to Chinese  interests. Less than a year later, it was sold for $xxxm.
 
For Chinese officials, the moment was sweet. They recalled how China was caught off guard in 2011 when it needed to evacuate some 36,000 Chinese workers from Libya, forcing it at short notice to enlist the help of Greek merchant ships to make the first few rescue missions. “If that was to happen again,” said a Chinese official recently, who declined to be identified. “We would be much better prepared. We could use the Chinese navy and take the evacuees to our own port at Piraeus.”

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fc4bf0be4-7c15-11e4-a7b8-00144feabdc0?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;Credit person</a> George Orwell at his typewriter
  </figcaption>
</figure>

{% endmarkdown %}
{% endblock %}
