@import 'o-colors/main';
@import 'components/core/main';

.graphicWidth
	{
	max-width: 760px;
	padding: 0 0.75em;
	}

.mainMapWidth
	{
	max-width: 1600px;
	}

.o-typography-caption
	{
		margin-bottom: 0px;
	}